<div class="wrapper">
  <li>
    <a routerLink="" routerLinkActive="active" >home</a>
  </li>
  <li>
    <a routerLink="ngIf-ngFor" routerLinkActive="active">ngIf-ngFor</a>
  </li>
  <li>
    <a routerLink="ngModel" routerLinkActive="active">ngModel</a>
  </li>
  <li>
    <a routerLink="input-output" routerLinkActive="active">Input-Output</a>
  </li>
  <li>
    <a routerLink="reactForm" routerLinkActive="active">reactive-form</a>
  </li>
  <li>
    <a routerLink="pipe" routerLinkActive="active">pipes</a>
  </li>
  <li>
    <a routerLink="rxjs" routerLinkActive="active">rxJS</a>
  </li>
  <li>
    <a routerLink="highcharts" routerLinkActive="active">highcharts</a>
  </li>
</div>
