.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container {
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgb(221, 224, 231) 0px 8px 32px;
    background-color: #fff;
}